# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
env/
.venv/

# Environment variables
.env

# Alembic
migrations/versions/__pycache__/
alembic.ini.bak

# Logs
*.log

# Mac crap
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
