# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
.venv/
env/

# Env and secrets
.env

# Alembic junk
migrations/versions/__pycache__/
alembic.ini.bak

# Logs
*.log

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
